.search{
    text-align: center;
}
.button{
    padding: 10px;
    background-color: blue;
    color: white;
}
.searchinput{
    padding: 10px;
    background-color: white;
}
.display{
    text-align: center;
}
.head{
    text-align: center;
    color: darkblue;
}