.img{
    margin-top: 4rem;
    margin-left: 3rem;
    border: none;
    background-color: white;
    border-radius: 2rem;
    width: 26rem;
    height: 68%;
    
}

.flex{
    /* display: flex; */
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    /* height: 27rem; */
}
.side{
    margin-top: 2rem;
    margin-left: 4rem;

   
}
.Name{
    padding: 10px;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
}
.Name:hover{
    background-color: white;
    color: black;
}
.phone:hover{
    background-color: white;
    color: black;

}
.Name1:hover{
    background-color: white;
    color: black;
}
.email:hover{
    background-color: white;
    color: black;
}
.area:hover{
    background-color: white;
    color: black;
}
.Name1{
    padding: 10px;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
    margin-left: 0rem;

}
.email{
    padding: 10px;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
    margin-left: 0rem;
    margin-top: 1rem;

}
.phone{
    margin-top: 1rem;
    padding: 10px;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
}
.area{
    width: 35rem;
    padding: 10px;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
    margin-top: 1rem;
    
}
@media(max-width:1172px){
  .area{
    width: 30rem;
  }
}
@media(max-width:1100px){
  .area{
    width: auto;
  }
}
@media(max-width:1000px){
  .fl{
    flex-direction: column;
  }
}

.flex form button {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  .flex form button span {
    z-index: 1;
    position: relative;
  }
  .flex form button:hover {
    color: #fff;
  }
  .flex form button::before {
    content: "";
    background: #121212;
    
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }
  .flex form button:hover::before {
    width: 100%;
  }
  .fl{
    display: flex;
    margin-top: 1rem;
  }
  
  h1{
    font-size: 45px;
	font-weight: 700;
    margin-bottom: 1rem;
  }
  .nf{
    display: flex;
    flex-wrap: wrap;
  }
  .ng{
    display: flex;
    flex-wrap: wrap;
  }
  @media (min-width:1700px) {
    .fl{
        max-width: 100%;
        padding: 0 150px;
    }
}
@media (max-width:436px){
  .nf{
    display: flex;
    flex-wrap: wrap;
  }
  .Name1{
    margin-top: 1rem;
  }
  .navbar navbar-expand-lg navbar-light{
    width:84%
  }
  
}
@media(max-width:1006){
  .navbar navbar-expand-lg navbar-light{
    width: 87%;
  }
}